<header>
  <nav>
    <div class="profile" @listCardsAnimation>
      <p>Emanoel Figueredo</p>
      <a class="link-social" *ngIf="tamanhoDaTela > 450" href="https://github.com/emanoelfigueredo/springboot-angular-keycloack"><i class="fa-brands fa-github"></i></a>
      <a class="link-social" *ngIf="tamanhoDaTela > 450" href="https://www.linkedin.com/in/emanoel-figuer%C3%AAdo-47063b215/"><i class="fa-brands fa-linkedin"></i></a>
    </div>
    <div class="buttons" *ngIf="usuarioEstaLogado">
      <button (click)="homeClicado()" *ngIf="!paginaAtualHome">Home</button>
      <button *ngIf="paginaAtualHome" routerLink="/lista">Lista</button>
      <button (click)="this.authService.logout()">Logout</button>
    </div>
    <button *ngIf="!usuarioEstaLogado" (click)="this.authService.login()">Login</button>
  </nav>
</header>
