<app-header></app-header>
<div class="home-box">
  <p class="home-text">Demonstração de integração entre um Website e o gerenciador de identidade <b>Keycloak</b>.</p>
  <section class="tecnologias">
    <div class="tec-card">
      <img src="../../../assets/img/angular.png" alt="Logo do framework Angular">
      <div class="tec-card-info">
        <p class="tec-card-name">Angular</p>
        <p class="tec-card-name2">Frontend</p>
      </div>
    </div>
    <div class="tec-card">
      <img src="../../../assets/img/reactive-spring-boot.png" alt="Logo do framework Spring Reactive">
      <div class="tec-card-info">
        <p class="tec-card-name">Spring Reactive</p>
        <p class="tec-card-name2">Backend</p>
      </div>
    </div>
    <section class="tec-card">
      <img src="../../../assets/img/keycloak.png" alt="Logo do Identity Manager Keycloak">
      <div class="tec-card-info">
        <p class="tec-card-name">Keycloak</p>
        <p class="tec-card-name2">Identity Manager</p>
      </div>
    </section>
    <section class="social-medias">
      <div class="github">
        <h3>Repositório github</h3>
        <a href="https://github.com/emanoelfigueredo/springboot-angular-keycloack"><img src="../../../assets/img/image.jpg" alt="Banner repositório no github"></a>
      </div>
      <div class="linkedin">
        <div class="imagem">
          <img src="../../../assets/img/fueta.jfif" alt="Foto perfil do Linkedin">
          <span></span>
        </div>
          <div class="info">
            <p class="info-name">Emanoel Figueredo</p>
            <p class="info-dev">Desenvolvedor<br>Full Stack</p>
          </div>
          <div class="links">
            <img src="../../../assets/img/LinkedIn_Logo.svg.png" alt="Logo Linkedin">
            <a href="https://www.linkedin.com/in/emanoel-figuer%C3%AAdo-47063b215/">Ver perfil</a>
          </div>
      </div>
    </section>
  </section>
</div>
