@font-face {
  font-family: jetBrains;
  src: url("./assets/fonts/fonts/ttf/JetBrainsMono-Medium.ttf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: jetBrains;
}

.page-not-found {
  height: calc(100vh - 50px);
  background-color: black;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.cor-vermelha {
  color: red;
}

.cor-branca {
  color: white;
}
