<div class="add-livro">
  <div class="card-add" *ngIf="formulario">
    <div
      *ngIf="formulario.get('titulo')?.errors?.['required'] && formulario.get('titulo')?.touched"
      class="card-error"
    >
      <p>Insira um título</p>
    </div>
    <div
      *ngIf="formulario.get('autor')?.errors?.['required'] && formulario.get('autor')?.touched"
      class="card-error"
    >
      <p>Insira um autor</p>
    </div>
    <app-card-livro-preview
      [titulo]="formulario.get('titulo')?.value"
      [autor]="formulario.get('autor')?.value"
      [urlImagem]="formulario.get('urlImagem')?.value"
    ></app-card-livro-preview>
    <form [formGroup]="formulario">
      <input formControlName="titulo" type="text" placeholder="Título" />
      <input formControlName="autor" type="text" placeholder="Autor" />
      <input formControlName="urlImagem" type="text" placeholder="URL imagem" />
    </form>
    <div class="buttons">
      <button (click)="atualizarLivro()" [disabled]="!formulario.valid">Atualizar</button>
      <button routerLink="/lista">Cancelar</button>
    </div>
  </div>
</div>
