.page-not-found {
  height: calc(100vh - 50px);
  background-color: black;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.cor-vermelha {
  color: red;
}

.cor-branca {
  color: white;
}
